@(result: Option[models.Response], paramsForm: Form[models.Request])

@import com.google.zxing.qrcode.decoder.ErrorCorrectionLevel
@import views.html.helper.{checkbox => _, inputRadioGroup => _, _}
@import views.html.helper.twitterBootstrap2._
@import views.helper.twitterBootstrap2._
@import views.utils._

@base("Make QR Code") {
  <div class="container">
    <header>
    <h1>Welcome to Make QR Code</h1>
	</header>
    @result match {
      case Some(Response(qrRequest, qrCode, qrCodeString)) => {
      <article>
        <div class="span5 right qrWrapper">
            <div class="qrCont">
              <img src="data:image/png;base64,@qrCodeString" class="img-polaroid">
            </div>

        <h3>Using:</h3>
        <ul>
          <li>Contents: @(if(qrRequest.uppercase) qrRequest.contents.toUpperCase else qrRequest.contents)</li>
          <li>Size: @qrRequest.size x @qrRequest.size</li>
          <li>Error Correction Level: @Messages(qrRequest.ecLevel.getClass.getName + '.' + qrRequest.ecLevel.name)</li>
          <li>Mode: @qrCode.getMode</li>
          <li>Version: @qrCode.getVersion.getVersionNumber</li>
          <li>Code Size: @qrCode.getMatrix.getHeight x @qrCode.getMatrix.getWidth</li>
        </ul>
        </div>
      }
      case None => {}
    }
 	<div class="span7 left">
    @form(routes.Application.post(), 'class -> "form-horizontal") {
   
      <fieldset>
        <legend>Generate:</legend>
        @inputText(paramsForm("contents"), 'class -> "input-xlarge")
        @inputText(paramsForm("size"))
        @checkbox(paramsForm("uppercase"))
        @inputRadioGroup(paramsForm("ecLevel"), enumOptions[ErrorCorrectionLevel])
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Generate">
        </div>
      </fieldset>
      </div>
      </article>
    }
  </div>
}
