@(result: Option[(Params, String)], paramsForm: Form[Params])

@import com.google.zxing.qrcode.decoder.ErrorCorrectionLevel
@import helper.{checkbox => _, inputRadioGroup => _, _}
@import helper.twitterBootstrap2._
@import views.helper.twitterBootstrap2._
@import views.utils._

@base("Make QR Code") {
  <div class="container">
    <h1>Welcome to Make QR Code</h1>

    @result match {
      case Some((params, qrCodeString)) => {
        <div>
          <img src="data:image/png;base64,@qrCodeString" class="img-polaroid">
        </div>

        Using:
        <ul>
          <li>Contents: @(if(params.uppercase) params.contents.toUpperCase else params.contents)</li>
          <li>Size: @params.size x @params.size</li>
          <li>ErrorCorrectionLevel: @params.errorCorrectionLevel</li>
        </ul>
      }
      case None => {}
    }

    @form(routes.Application.post(), 'class -> "form-horizontal") {
      <fieldset>
        <legend>Generate:</legend>
        @inputText(paramsForm("contents"), 'class -> "input-xxlarge")
        @inputText(paramsForm("size"))
        @checkbox(paramsForm("uppercase"))
        @inputRadioGroup(paramsForm("errorCorrectionLevel"), enumOptions[ErrorCorrectionLevel])
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Generate">
        </div>
      </fieldset>
    }
  </div>
}
