@(result: Option[(Params, String)], paramsForm: Form[Params])

@import com.google.zxing.qrcode.decoder.ErrorCorrectionLevel
@import helper._
@import helper.twitterBootstrap._

@main("Make QR Code") {
  <div class="container">
    <h1>Welcome to Make QR Code</h1>

    <div>
    @result match {
      case Some((params, qrCodeString)) => {
        <div>
          <img src="data:image/png;base64,@qrCodeString" class="img-polaroid">
        </div>

        Using:
        <ul>
          <li>Contents: @(if(params.uppercase) params.contents.toUpperCase else params.contents)</li>
          <li>Size: @params.size x @params.size</li>
          <li>ErrorCorrectionLevel: @params.errorCorrectionLevel</li>
        </ul>
      }
      case None => {}
    }
    </div>

    <div>
      Generate:
      @form(routes.Application.index(), 'class -> "form-inline") {
        @inputText(paramsForm("contents"), '_label -> "Contents", 'class -> "input-xxlarge")
        @inputText(paramsForm("size"), '_label -> "Size")
        @checkbox(paramsForm("uppercase"), '_label -> "Uppercase")
        @inputRadioGroup(paramsForm("errorCorrectionLevel"),
          ErrorCorrectionLevel.values().map(ecl => (ecl.name(), ecl.name())), '_label -> "ErrorCorrectionLevel")
        <input type="submit" class="btn btn-primary" value="Generate">
        }
    </div>
  </div>
}
